{% extends "_layout" %}
{% set list = craft.shortlist.getListByHash( craft.request.getQuery('hash') ) %}

{% if list is null %}
    {% redirect '/shortlist' %}
{% endif %}

{% block content %}

<div class="jumbotron">
    <h1>Shortlist for Craft</h1>
</div>
<div class="content">
        <h2>Your List</h2>

        <h4><a href="/shortlist/list?hash={{ list.hash }}">({{ list.id }}) {{ list.title }}</a></h4>


        <p><span class="label label-info">{{list.status}}</span> {% if list.default %}<span class="label label-success">default</span>{%
            endif %} Owned by <em>{{ list.owner }}</em> {{ list.owner.email }}</p>

        <div class="well">
            <a href="{{ list.deleteActionUrl }}" class="btn btn-danger">Delete List</a>
            {% if list.default == false %}<a href="{{ list.makeDefaultActionUrl }}" class="btn">Make Default</a>{% endif %}
            {% if list.items is not empty %}<a href="{{ list.clearActionUrl }}" class="btn">Clear List</a>{% endif %}
        </div>


        {% if list.items is empty %}
        <p><em>This list is empty</em></p>
        {% else %}

        <ul>
            {% for item in list.items %}
            <li><a href="{{ item.removeActionUrl }}" class="btn btn-primary btn-xs">remove</a>
                {{ item.id }} <strong>{{ item.title }}</strong>
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        <hr/>

    </div>
    {% endblock %}
